@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Rosario&family=Rowdies&display=swap");

.footerSign {
  cursor: pointer;
}
.box {
  width: 512px;
  height: 533px;

  background: white;
  border: 1px solid #d2d2d2;
  border-radius: 6px;
  margin: auto;
  margin-top: 222px;
  margin-bottom: 362px;
}
.signin {
  /* width: 73px;
  height: 30px; */
  margin-top: 42px;
  margin-left: 39px;
  margin-bottom: 38px;

  font-family: "Rowdies";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  /* identical to box height */
  display: block;
  color: #000000;
}

.signButtons {
  display: grid;
  gap: 20px;
}
.divider {

  width: 84%;
  margin: auto;
  margin-top: 113px;
}
.footer {
  padding-top: 18px;
  margin: auto;
  /* width: 100%; */
  text-align: center;
  height: 21px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: black;
}
.footerSign {
  color: #ff4f5a;
}
/* mobile view */
@media only screen and (max-width: 480px) {
  .box {
    width: 80%;
    margin-top: 50px;
  }

  .signin {
    margin: auto;
    padding-top: 70px;
    padding-bottom: 60px;
  }

  .divider {
    width: 80%;
    margin: auto;
    margin-top: 113px;
  }
}
